.layl-container {
  height:100vh; 
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.first-bottom {
  position:absolute;
  bottom:0%;
  width:100%;
  text-align:center;
}
.second-screen {
  position:absolute;
  top:100%;
  display:flex;
  flex-direction:column;
}
.text-row {
  display:flex;
  flex-direction:row;
  width:100%;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  align-items: flex-start
}
.text-column {
  display:flex;
  flex-direction:column;
  text-align:left;
  width:40%;
}
.footer {
  display:flex;
  flex-direction:row;
  margin: auto;
  align-items:flex-end;
  color: rgba(0, 0, 0, 0.863);
  text-align:center;
  position:relative;
  top:200%;
}
.loading {
  color: #FF6767;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  display: inline;
}
blockquote {
  margin: 0 0 0 -23px;
  padding: 0 0 0 20px;
  color: rgba(0, 0, 0, 0.8);
  border-left: 3px solid rgb(0, 0, 0.9);
}
a {
  text-decoration: underline solid #FF6767;
  color: #000; /* #67B6FF*/
  border-radius: 4px;
  transition-property: background;
  transition-property: all;
  transition-duration: 0.2s;
}
a:hover, a:focus {
  /*background-color: rgba(255, 103, 103, 0.26);*/
  background-color: rgba(255, 103, 103, 0.13);
  color: #000;
  text-decoration: none;
}
ul {
	position: relative;
	list-style: none;
	margin-left: 0;
  padding-left: 1.2em;
  font-size: 1.15em;
  line-height: 2em;
}
li:before {
  position: absolute;
	left: 0;
}
.zero:before {
  content: "🌙"
}
.one:before {
	content: "¹⁄₆";
}
.two:before {
  content: "²⁄₆";
}
.three:before {
  content: "³⁄₆";
}
.four:before {
  content: "⁴⁄₆";
}
.five:before {
  content: "⁵⁄₆";
}
.six:before {
  content: "☀";
}
@media all and (max-width: 500px) {
  .text-row {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    flex-wrap:wrap;
  }
  .text-column {
    display:flex;
    flex-direction:column;
    text-align:left;
    width:80%;
    margin:2%;
  }
  .footer {
    display:flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
  }
  ul {
    font-size: 1.05em;
    line-height: 1.5em;
  }
}
@media all and (max-width: 300px) {
  ul, p, h1 {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  img {
    width: 110px;
  }
}