.layl-container {
  height:100vh; 
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.first-bottom {
  position:absolute;
  bottom:0%;
  width:100%;
  text-align:center;
}
.second-screen {
  position:absolute;
  top:100%;
  display:flex;
  flex-direction:column;
}
.text-row {
  display:flex;
  flex-direction:row;
  width:100%;
  align-items:center;
  flex-wrap:wrap;
  align-items: flex-start
}
.text-column {
  display:flex;
  flex-direction:column;
  text-align:left;
  width:46%;
  margin:2%;
}
blockquote {
  margin: 0 0 0 -23px;
  padding: 0 0 0 20px;
  color: rgba(0, 0, 0, 0.8);
  border-left: 3px solid rgb(0, 0, 0.9);
}
a {
  text-decoration: underline wavy #67B6FF;
  color: #000;
  border-radius: 4px;
}
a:hover, a:focus {
  background-color: rgba(255, 103, 103, 0.26);
  text-decoration: none;
}
@media all and (max-width: 800px) {
  .text-row {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    flex-wrap:wrap;
  }
  .text-column {
    display:flex;
    flex-direction:column;
    text-align:left;
    width:80%;
    margin:2%;
  }
}